
<div class="index-wrapper">
  <h1>It Feels<br> Like...</h1>

  <div class="button-wrapper">
    <a href="/facebook">Login With Facebook</a>
    <br>
    <a href="/signup">Sign Up</a>
    <br>
    <a href="/login">Login</a>
  </div>

</div>
