<form action="/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
