<!--  YES = 1
      NO = -1
      DON'T CARE = 0    -->


<form action="/preferences" method="POST">
  <h2>Let's get to know you a bit!</h2>
    <span>Do you like the sun?</span><br>

    <input type="radio" name="sun-yes" checked value="1">
    <label for="sun-yes">yes</label><br>

    <input type="radio" name="sun-no" checked value="-1">
    <label for="sun-no">no</label><br>

    <input type="radio" name="sun-dontcare" checked value="0">
    <label for="sun-dontcare">I don't care</label><br>
    <br>
    <br>

    <span>What about the rain?</span><br>

    <input type="radio" name="rain-yes" checked value="1">
    <label for="rain-yes">yes</label><br>

    <input type="radio" name="rain-no" checked value="-1">
    <label for="rain-no">no</label><br>

    <input type="radio" name="rain-dontcare" checked value="0">
    <label for="rain-dontcare">I don't care</label><br>

    <br>
    <br>

    <span>Do you like cloudy days?</span><br>

    <input type="radio" name="cloud-yes" checked value="1">
    <label for="cloud-yes">yes</label><br>

    <input type="radio" name="cloud-no" checked value="-1">
    <label for="cloud-no">no</label><br>

    <input type="radio" name="cloud-dontcare" checked value="0">
    <label for="cloud-dontcare">I don't care</label><br>

    <br>
    <br>

    <span>Do you like snow?</span><br>

    <input type="radio" name="snow-yes" checked value="1">
    <label for="snow-yes">yes</label><br>

    <input type="radio" name="snow-no" checked value="-1">
    <label for="snow-no">no</label><br>

    <input type="radio" name="snow-dontcare" checked value="0">
    <label for="snow-dontcare">I don't care</label><br>

    <br>
    <br>

    <span>Do you care about the wind?</span><br>

    <input type="radio" name="wind-yes" checked value="1">
    <label for="wind-yes">yes</label><br>

    <input type="radio" name="wind-no" checked value="-1">
    <label for="wind-no">no</label><br>

    <input type="radio" name="wind-dontcare" checked value="0">
    <label for="wind-dontcare">I don't care</label><br>

    <br>
    <br>
    <label for="too-hot">How hot is too hot for you?</label><br>
    <input type="text" name="too-hot" placeholder="30"/><span>°C</span>

    <br>
    <br>
    <label for="too-cold">How cold is too cold for you?</label><br>
    <input type="text" name="too-cold" placeholder="-10"/><span>°C</span>

    <br>
    <br>
    <label for="fav-temp">What's your ideal temperature?</label><br>
    <input type="text" name="fav-temp" placeholder="16"/><span>°C</span>

</form>
