<!--  YES = 1
      NO = -1
      DON'T CARE = 0    -->


<form id="prefs" action="/preferences" method="POST">
  <h2>Let's get to know you a bit!</h2>
    <span>Do you like the sun?</span><br>


      <input type="radio" name="sun" id="sun-yes" value="1" >
      <label for="sun-yes">yes</label><br>

      <input type="radio" name="sun" id="sun-no" value="-1" >
      <label for="sun-no">no</label><br>

      <input type="radio" name="sun" id="sun-dontcare" value="0" >
      <label for="sun-dontcare">I don't care</label><br>


    <br>
    <br>

    <span>What about the rain?</span><br>

    <input type="radio" name="rain" value="1">
    <label for="rain-yes">yes</label><br>

    <input type="radio" name="rain" value="-1">
    <label for="rain-no">no</label><br>

    <input type="radio" name="rain" value="0">
    <label for="rain-dontcare">I don't care</label><br>
    <br>
    <br>

    <span>Do you like cloudy days?</span><br>

    <input type="radio" name="clouds" value="1">
    <label for="cloud-yes">yes</label><br>

    <input type="radio" name="clouds" value="-1">
    <label for="cloud-no">no</label><br>

    <input type="radio" name="clouds" value="0">
    <label for="cloud-dontcare">I don't care</label><br>
    <br>
    <br>

    <span>Do you like snow?</span><br>

    <input type="radio" name="snow" value="1">
    <label for="snow-yes">yes</label><br>

    <input type="radio" name="snow" value="-1">
    <label for="snow-no">no</label><br>

    <input type="radio" name="snow" value="0">
    <label for="snow-dontcare">I don't care</label><br>
    <br>
    <br>

    <span>Do you care about the wind?</span><br>

    <input type="radio" name="wind" value="1">
    <label for="wind-yes">yes</label><br>

    <input type="radio" name="wind" value="-1">
    <label for="wind-no">no</label><br>

    <input type="radio" name="wind" value="0">
    <label for="wind-dontcare">I don't care</label><br>
    <br>
    <br>

    <label for="too-hot">How hot is too hot for you?</label><br>
    <input type="text" id="hot" name="hot" placeholder="30"/><span>°C</span>
    <br>
    <br>

    <label for="too-cold">How cold is too cold for you?</label><br>
    <input type="text" id="cold" name="cold" placeholder="-10"/><span>°C</span>
    <br>
    <br>

    <label for="fav-temp">What's your ideal temperature?</label><br>
    <input type="text" id="ideal" name="ideal" placeholder="16"/><span>°C</span>
    <br>
    <br>

    <div>
      <input type="submit" value="Save">
    </div>

</form>
