
<h2>Sign up</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Jennie">
  <br><br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="jennie@jennie.com">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
  <label for="password">Please re-enter your password</label>
  <input id="password2" type="password" name="password2" placeholder="Your password">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>


</form>
