
<h1>Welcome screen where we have the conversational form...</h1>

<div cf-context class="conversation-box">
  <form action="/welcome" id="my-form-element" cf-form cf-prevent-autofocus>
    <input type="text" cf-questions="What is your firstname?">
    <input type="text" cf-questions="Hello {previous-answer}, what is your lastname?">
  </form>
</div>
