
<h1>Welcome screen where we have the conversational form...</h1>

<div class="conversation-box">
  <form action="/welcome" id="my-form-element">
    
    <label for=name>Hi what's your name?</label><br>
    <input id="name" name="name" type="text" placeholder="Jennie"><br>
    <br>
    <label for=name>What do you want to do?</label><br>
    <input type="radio" name="choice" value="Login with facebook">Login with FB<br>
    <input type="radio" name="choice" value="Login">Login<br>
    <input type="radio" name="choice" value="Signup">Sign Up<br>
    <br>


  </form>
</div>
