
<h1>Welcome screen where we have the conversational form...</h1>



<form id="my-form-element" method="POST" cf-form>

  <!-- Initial Conversation -->
  <fieldset cf-questions="Hi there! What do you want to do?">
  	<input type="radio" name="wth-intro" id="login-facebook" value="facebook">
  	<label for="login-facebook">Login with Facebook</label>

  	<input type="radio" name="wth-intro" id="login-email" value="email">
  	<label for="login-email">Login</label>

  	<input type="radio" name="wth-intro" id="create-account" value="create">
  	<label for="create-account">Create Account</label>
  </fieldset>


  <!--Path 1: Create Account -->
  <input
  	type="text"
  	id="name"
  	name="name"
  	cf-conditional-wth-intro="create"
  	cf-questions="Okey, let's create a new account then!&&Please tell me your first name." />

  <input
  	type="text"
  	id="email"
  	name="email"
  	cf-conditional-wth-intro="create"
  	cf-questions="Hello {previous-answer}, what is your email?"/>

  <input
  	type="password"
  	id="password"
  	name="password"
  	cf-conditional-wth-intro="create"
  	cf-questions="Please enter your password"/>

    <input
    	type="password"
    	id="password"
    	name="password"
    	cf-conditional-wth-intro="create"
    	cf-questions="Re-enter your password, {name}."/>

    <input type="submit" id="signup-submit" name="signup-submit" formaction="/signup">


  <!--Path 2: Login -->
  <input
  	type="text"
  	id="signin-email"
  	name="signin-email"
  	cf-conditional-wth-intro="email"
  	cf-questions="What is your email?" />

  <input
  	type="password"
  	id="password"
  	name="password"
  	cf-conditional-wth-intro="email"
  	cf-questions="Please enter your password"/>

  <input type="submit" id="login-submit" name="login-submit" formaction="/login">


  <!--Path 3: Facebook login-->
  <input
  	type="text"
  	id="facebook-success"
  	name="facebook-success"
  	cf-conditional-wth-intro="facebook"
  	cf-questions="You've chosen login with Facebook"/>
  <input type="submit" id="fb-submit" name="fb-submit" formaction="/facebook">


  </form>
