<!-- <form action="/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form> -->


<!-- <form id="my-login-element" method="POST" cf-form >

<input
  type="text"
  id="name"
  name="name"
  cf-questions="Time to login!&&Please please fill in your email." />

<input
  type="text"
  id="email"
  name="email"
  cf-questions="And you password"/>

  <input type="submit" value="Save">

</form> -->
