<!--  YES = 1
      NO = -1
      DON'T CARE = 0    -->

<form id="preferences-form-element" method="POST" cf-form>

<<<<<<< HEAD


  <input type="text" id="hot" name="hot" cf-input-placeholder="30" cf-questions="Welcome! LEt's get to know you a bit. &&How hot is too hot for you?&&...in Celsius"/>
=======
  <input type="text" id="hot" name="hot" cf-input-placeholder="30" cf-questions="Welcome! LEt's get to know you a bit. &&How hot is too hot for you?"/><span>°C</span>
>>>>>>> master

  <input type="text" id="cold" name="cold" cf-input-placeholder="20"cf-questions="How cold is too cold for you?"/>

  <input type="text" id="ideal" name="ideal" cf-input-placeholder="16" cf-questions="What's your ideal temperature?"/>



  <fieldset cf-questions="How do you feel about the sun?">

    <input cf-label="yes" type="radio" name="sun" id="sun-yes" value="1" >


    <input cf-label="no" type="radio" name="sun" id="sun-no" value="-1" >

    <input cf-label="I don't care" type="radio" name="sun" id="sun-dontcare" value="0" >


  </fieldset>


  <fieldset cf-questions="Do you like the rain?">

    <input cf-label="yes" type="radio" name="rain" id="rain-yes" value="1">

    <input cf-label="no" type="radio" name="rain" id="rain-no" value="-1">

    <input cf-label="I don't care" type="radio" name="rain" value="0" id="rain-dontcare">


  </fieldset>


  <fieldset cf-questions="Do you like cloudy days?">

    <input cf-label="yes" type="radio" name="clouds" value="1" id="clouds-yes">

    <input cf-label="no" type="radio" name="clouds" value="-1" id="clouds-no">

    <input cf-label="I don't care" type="radio" name="clouds" value="0" id="clouds-dontcare">

  </fieldset>


  <fieldset cf-questions="Do you like snow?">

    <input cf-label="yes" type="radio" name="snow" value="1" id="snow-yes">

    <input cf-label="no" type="radio" name="snow" value="-1" id="snow-no">

    <input cf-label="I don't care" type="radio" name="snow" value="0" id="snow-dontcare">


  </fieldset>


  <fieldset cf-questions="Do you care about the wind?">

    <input cf-label="yes" type="radio" name="wind" value="1" id="wind-yes">

    <input cf-label="no" type="radio" name="wind" value="-1" id="wind-no">

    <input cf-label="I don't care" type="radio" name="wind" value="0" id="wind-dontcare">

  </fieldset>

    <input type="submit">

</form>
