
<form id="my-signup-element" method="POST" action="/signup" cf-form >

<input
  type="text"
  id="name"
  name="name"
  cf-questions="People!&&Let's create a new account.&&Please tell me your first name." />

<input
  type="text"
  id="email"
  name="email"
  cf-questions="Hello {previous-answer}, what is your email?"/>

<input
  type="password"
  id="password"
  name="password"
  cf-questions="Please choose a password"/>

<input
  type="password"
  id="password2"
  name="password2"
  cf-questions="Confirm your password, {name}."/>

  <input type="submit" value="">

</form>
