/*
font-family: 'Heebo', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

*, *:after, *:before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#my-signup-element {
    height: 100vh;
}

#my-login-element {
    height: 100vh;
}

#preferences-form-element {
  height: 100vh;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
  height: 100vh;
  width: 100vw;
  background: #0752EA; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #0752EA , #0FABDA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0752EA, #0FABDA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #0752EA, #0FABDA); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #0752EA , #0FABDA); /* Standard syntax */
}

 h1 {

  font-size: 70px;
  line-height: 70px;
  margin-left: 10%;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.button-wrapper {
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 5%;

}

.button-wrapper a, #login-form input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 10px;
  width: 200px;
  background-color: white;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-form  {
  margin-top: 20%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: rgba(255, 255, 255, 0.5);;
}

#login-form #login-password {
  color: white;
  background-color:  rgba(0, 0, 0, 0.2);
  margin-top: 5%;
  box-shadow: none;
}
#login-form #login-email {
  color: white;
  background-color:  rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
#login-form #login {
  margin-top: 10%;
}




.user-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 20%;
  height: 100vh;
  width: 100vw;
  background: #FF0055; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #FF0055 , #FFCD00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF0055, #FFCD00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #FF0055, #FFCD00); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #FF0055 , #FFCD00); /* Standard syntax */
}

.user-wrapper p {
  margin: 10%;
}

#location {
  font-size: 16px;
  padding-left: 10%;
  height: 30px;
}

#data {
  font-size: 16px;
  height: 50px;
  margin-top: 10%;
  padding-left: 10%;
}


/**********RESPONSIVE FOR IPAD  WIDTH: 764PX HEIGHT: 1024P*********/
@media all and (min-width: 700px) {

}
/*********RESPONSIVE FOR DESKTOP WIDTH: MIN-850PX HEIGHT: 1024PX********/
@media all and (min-width: 1100px) {

}





#menu {
  margin-top: -50px;
  margin-left: 20px;
  height: 30px;
  width: 40px;
  background-repeat: no-repeat;
  background-image: url('../images/menu-icon.png');
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(30, 30, 30, 0.85);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFCD00;
    display: block;
    transition: 0.3s
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
