<!DOCTYPE html>
<html>
  <head>
    <title>weather</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <h1>Spice up your life!</h1>
    <%- body %>
    <script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>
  </body>
</html>
