<!DOCTYPE html>
<html>
  <head>
    <title>weather</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <h1>Spice up your life!</h1>
    <%- body %>

  </body>
</html>
